body{
	background-color: #abc6db;
	font-family: Arial, sans-serif;
	color:rgb(29, 50, 51)
}

.lista_sin_estilo {
	list-style: none;
	padding: 10;
	margin: 10;
}

li {
	padding: 10;
	margin: 10;	
}

a{
	text-decoration: none;
	color: inherit;
}

.lista_sin_estilo a {
	display: inline-block;
	padding: 15px 30px;
	background-color: #1482db;
	color: white;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
}

.lista_sin_estilo a:hover {
	background-color: #107999;
}

.lista_sin_estilo li {
	margin-bottom: 20px; /* Add space between buttons */
}